player-connection-mode=Listen
player-connection-guid=2518790683
player-connection-debug=0
player-connection-project-name=drifttutorial
player-connection-ip=192.168.56.1
player-connection-ip=192.168.100.9
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=09064abda4594cbc84772c4ff4287f98
